# The Nextcloud containers; the database has db.env.
POSTGRES_DB=nextcloud
POSTGRES_USER=nextcloud
POSTGRES_PASSWORD_FILE=/run/secrets/nextcloud_service_db_password
POSTGRES_HOST=127.0.0.1
REDIS_HOST=127.0.0.1
NEXTCLOUD_TRUSTED_DOMAINS={{ nextcloud_service_trusted_domains }}
TRUSTED_PROXIES={{ nextcloud_service_trusted_proxies }}
FORWARDED_FOR_HEADERS=HTTP_X_REAL_IP
NEXTCLOUD_ADMIN_USER={{ nextcloud_service_admin_user }}
NEXTCLOUD_ADMIN_PASSWORD_FILE=/run/secrets/nextcloud_service_admin_password

{% set spare_max = (nextcloud_service_php_max_children * 2) // 3 %}
{% set spare_min = spare_max // 2 %}
PHP_MAX_CHILDREN={{ nextcloud_service_php_max_children }}
PHP_MAX_SPARE_SERVERS={{ spare_max }}
PHP_MIN_SPARE_SERVERS={{ spare_min }}
PHP_START_SERVERS={{ (spare_max + spare_min) // 2 }}
PHP_MAX_REQUESTS=500
PHP_MAX_EXECUTION_TIME=3600
PHP_UPLOAD_LIMIT={{ nextcloud_service_php_upload_limit }}
PHP_MEMORY_LIMIT={{ nextcloud_service_php_memory_limit }}
PHP_MAX_FILE_UPLOADS=100
PHP_EMERGENCY_RESTART_THRESHOLD=10
PHP_EMERGENCY_RESTART_INTERVAL=1m
PHP_PROCESS_CONTROL_TIMEOUT=10s
