[Unit]
Requires=nextcloud-app.service
After=nextcloud-app.service

[Container]
Image={{ nextcloud_service_app_image }}
ContainerName=nextcloud-cron
EnvironmentFile=./configs/nextcloud.env
Secret=nextcloud_service_db_password,type=mount,target=/run/secrets/nextcloud_service_db_password
# crond runs cron.php as www-data.
AddCapability=SETGID SETUID
Memory=2G
Volume=nc-app-html:/var/www/html:z
Volume={{ service_home }}/data/custom_apps:/var/www/html/custom_apps:z
Volume={{ service_home }}/data/data:/var/www/html/data:z
Volume={{ service_home }}/data/config:/var/www/html/config:z
Volume=/dev/log:/dev/log
Exec=busybox crond -f -l 0 -S
RunInit=true
StopSignal=SIGTERM

[Service]
SuccessExitStatus=143
