[Container]
Image={{ nextcloud_service_redis_image }}
ContainerName=nextcloud-redis
# chown of /data, then gosu redis.
AddCapability=CHOWN SETGID SETUID
PodmanArgs={{ nextcloud_service_redis_extra_args }}
Pod=nc.pod
HealthCmd=redis-cli ping
HealthInterval=30s
HealthOnFailure=kill
