[Container]
Image={{ nextcloud_service_db_image }}
ContainerName=nextcloud-db
EnvironmentFile=./configs/db.env
Secret=nextcloud_service_db_password
Volume={{ service_home }}/data/db_data:/var/lib/postgresql/data:Z
AddCapability=CHOWN DAC_OVERRIDE FOWNER SETGID SETUID
Exec=postgres -c shared_buffers=256MB -c effective_cache_size=1GB -c random_page_cost=1.1 -c effective_io_concurrency=200 -c checkpoint_timeout=15min -c autovacuum_vacuum_scale_factor=0.05 -c autovacuum_analyze_scale_factor=0.02
HealthCmd=pg_isready -h 127.0.0.1 -U nextcloud
HealthInterval=10s
HealthRetries=9
HealthStartPeriod=300s
HealthOnFailure=kill
StopTimeout=120
Notify=healthy

[Service]
TimeoutStartSec=300
TimeoutStopSec=150
