[Unit]
Requires=nextcloud-app.service
After=nextcloud-app.service

[Container]
Image={{ nextcloud_service_nginx_image }}
ContainerName=nextcloud-web
PodmanArgs={{ nextcloud_service_web_extra_args }}
Volume=nc-app-html:/var/www/html:ro,z
Volume={{ service_home }}/data/custom_apps:/var/www/html/custom_apps:ro,z
Volume={{ service_home }}/data/data:/var/www/html/data:ro,z
Volume={{ service_home }}/data/config:/var/www/html/config:ro,z
Volume=./configs/nginx.conf:/etc/nginx/nginx.conf:ro,z
Volume=/dev/log:/dev/log
Exec=nginx -e stderr -g "daemon off;"
Pod=nc.pod
AutoUpdate={{ nextcloud_service_auto_update }}
HealthCmd=wget -qO /dev/null http://127.0.0.1/status.php
HealthInterval=60s
HealthStartPeriod=300s
HealthOnFailure=kill

[Service]
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target
